<!DOCTYPE html>
<html>
  <head>
    <title>Home Page for Agro App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "static/bootstrap.min.css" rel = "stylesheet" media =  "screen" >
  </head>
  <body>
    <div class="container">
      <h1>Welcome to The Agro App!</h2>
      <br>
      <p>Click <a href="/login">here</a> for admin login.</p>
      {% for msg in get_flashed_messages() %}
        {{msg}}
      {% endfor %}
    </div>
  </body>
</html>